.mecaf{
    width: 500px;
    height: 200px;
    background-color: darkgray;
    font-weight: bolder;
    font-size: 50px;
    color: rgb(231, 231, 238);
    background-image: url("index.jpeg");
    padding-top: 38px;
    margin-left: 15px;
    cursor: pointer; 
    
}
body{
    background: linear-gradient(rgb(32, 8, 88),#d3d8e8,#3e52be);
    
}
.mecasm{
    width: 500px;
    height: 200px;
    background-color: darkgray;
    font-weight: bolder;
    font-size: 50px;
    color: rgb(231, 231, 238);
    padding-top: 38px;
    margin-left: 300px;
    background-image: url("download.jpeg");
    cursor: pointer;


}
.ieee{
    width: 500px;
    height: 200px;
    background-color: darkgray;
    font-weight: bolder;
    font-size: 50px;
    color: rgb(231, 231, 238);
    padding-top: 38px;
    margin-top: 5px;
    background-image: url("iedc_sb.png");
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: center;
    background-size: 530px;
   
    margin-left: 15px;
    cursor: pointer;
}
.iedc{
    width: 500px;
    height: 200px;
    background-color: darkgray;
    font-weight: bolder;
    font-size: 50px;
    color: rgb(231, 231, 238);
    padding-top: 38px;
    margin-top: 10px;
    background-image: url("ieeesb.jpg");
    background-size: 494px;
    background-position-x: center;
    background-position-y: center;
    background-repeat: no-repeat;
    margin-left: 300px;
    cursor: pointer;
}
.home{
    width: 500px;
    height: 200px;
    background-color: rgb(209, 18, 18);
    font-weight: bolder;
    font-size: 50px;
    color: rgb(226, 219, 219);
    padding-top: 38px;
    margin-top: 15px;
    margin-left: 420px;
    cursor: pointer;
}